In [1]:
import pandas as pd
import zipfile
import geopandas as gpd

In [2]:
def pluto(mappluto):
    z = zipfile.ZipFile(mappluto)
    z.extractall('../data/')
    
    boroughs = ['Staten_Island']
    abreevs = ['SI']
    #boroughs = ['Staten_Island', 'Queens', 'Manhattan', 'Bronx', 'Brooklyn']
    #abreevs = ['SI', 'QN', 'MN', 'BX', 'BK']

    pluto = []
    i = 0
    for elem in boroughs:
        temp = gpd.read_file('../data/'+elem+'/'+abreevs[i]+'MapPLUTO.shp')
        temp['BBL'] = temp['BBL'].astype(str)
        #temp = temp.to_crs({'init':'epsg:4326'})
        pluto.append(temp)
        i+=1  

    global pluto_updated
    pluto_updated = pd.concat(pluto)

    return pluto_updated.head()

In [4]:
z = zipfile.ZipFile('../data/mappluto_14v2.zip')
z.extractall('../data/')

In [10]:
boroughs = ['Staten_Island', 'Queens', 'Manhattan', 'Bronx', 'Brooklyn']
abreevs = ['SI', 'QN', 'MN', 'BX', 'BK']

#boroughs = ['Staten_Island', 'Queens']
#abreevs = ['SI', 'QN']

pluto = []
i = 0
for elem in boroughs:
    temp = gpd.read_file('../data/'+elem+'/'+abreevs[i]+'MapPLUTO.shp')
    temp['BBL'] = temp['BBL'].astype(str)
    temp = temp.to_crs({'init':'epsg:4326'})
    pluto.append(temp)
    i+=1

In [11]:
p = pd.concat(pluto)

In [13]:
cb = gpd.read_file('../data/nyct2010_17a/nyct2010.shp')

In [15]:
cb = cb[['CT2010', 'geometry']]

In [16]:
cb.head(2)

   CT2010                                           geometry
0  000900  POLYGON ((962269.1260375977 173705.5001831055,...
1  009800  POLYGON ((994133.507019043 214848.8975830078, ...

In [17]:
print cb.crs
print p.crs

{u'lon_0': -74, u'datum': u'NAD83', u'y_0': 0, u'no_defs': True, u'proj': u'lcc', u'x_0': 300000, u'units': u'us-ft', u'lat_2': 41.03333333333333, u'lat_1': 40.66666666666666, u'lat_0': 40.16666666666666}
{'init': 'epsg:4326'}

In [19]:
cb = cb.to_crs({'init':'epsg:4326'})
p = p.to_crs({'init':'epsg:4326'})

In [20]:
print cb.crs
print p.crs

{'init': 'epsg:4326'}
{'init': 'epsg:4326'}

In [21]:
p = p[['BBL', 'AssessTot', 'BldgArea', 'BldgClass', 'BldgDepth', 'BldgFront', 'ComArea', \
              'FactryArea', 'GarageArea', 'LandUse', 'NumBldgs','NumFloors', 'OfficeArea', 'OtherArea', 'StrgeArea', \
              'StrgeArea', 'YearBuilt', 'geometry']]
p.head(2)

,BBL,AssessTot,BldgArea,BldgClass,BldgDepth,BldgFront,ComArea,FactryArea,GarageArea,LandUse,NumBldgs,NumFloors,OfficeArea,OtherArea,StrgeArea,StrgeArea,YearBuilt,geometry
0,5007470028.0,23400.0,1488,B2,62.0,24.0,0,0,0,01,1,1.0,0,0,0,0,1960,POLYGON ((-74.14250944979312 40.60980609846242...
1,5006230252.0,21518.0,0,V0,0.0,0.0,0,0,0,11,0,0.0,0,0,0,0,0,POLYGON ((-74.08780465394567 40.61401983466899...

In [49]:
len(p)

857513

In [58]:
pl = p[['BBL', 'geometry']]

In [59]:
#http://geoffboeing.com/2016/10/r-tree-spatial-index-python/
precise_matches = {}
spatial_index = pl.sindex
for i, CT2010 in enumerate(cb.CT2010):
    possible_matches_index = list(spatial_index.intersection(cb['geometry'][i].bounds))
    possible_matches = pl.iloc[possible_matches_index]
    precise_matches[CT2010] = possible_matches[possible_matches.intersects(cb['geometry'][i])]
    #precise_matches[CT2010]['CT2010'] = CT2010

In [60]:
bbl_ct = pd.concat(precise_matches).reset_index()

In [61]:
bbl_ct.head(2)

,level_0,level_1,BBL,geometry
0,000100,1254,3002077501.0,POLYGON ((-73.99198802363739 40.70142351000581...
1,000100,1237,3002050001.0,"POLYGON ((-73.9941384585001 40.70106970973024,..."

In [62]:
bbl_ct = bbl_ct.drop(['geometry', 'level_1'],axis=1)

In [63]:
bbl_ct = bbl_ct.rename(columns={'level_0':'CT2010'})

In [65]:
print bbl_ct.BBL.dtypes
print p.BBL.dtypes

object
object

In [67]:
bbl_ct.BBL = bbl_ct.BBL.astype(float)
#bbl_ct.BBL = bbl_ct.BBL.astype()
p.BBL = p.BBL.astype(float)

In [69]:
p.head(2)

,BBL,AssessTot,BldgArea,BldgClass,BldgDepth,BldgFront,ComArea,FactryArea,GarageArea,LandUse,NumBldgs,NumFloors,OfficeArea,OtherArea,StrgeArea,StrgeArea,YearBuilt,geometry
0,5.007470e+09,23400.0,1488,B2,62.0,24.0,0,0,0,01,1,1.0,0,0,0,0,1960,POLYGON ((-74.14250944979312 40.60980609846242...
1,5.006230e+09,21518.0,0,V0,0.0,0.0,0,0,0,11,0,0.0,0,0,0,0,0,POLYGON ((-74.08780465394567 40.61401983466899...

In [116]:
bbl_ct.head(2)

   CT2010           BBL
0  000100  3.002078e+09
1  000100  3.002050e+09

In [117]:
bbl_ct.CT2010 = bbl_ct.CT2010.astype(str)

In [118]:
merged = pd.merge(p, bbl_ct, on='BBL')

In [119]:
print len(merged.BBL.unique())
print len(bbl_ct.BBL.unique())
print len(p.BBL.unique())

546015
546015
857513

In [120]:
merged = merged.drop('LandUse',axis=1)

In [121]:
merged.columns

Index([       u'BBL',  u'AssessTot',   u'BldgArea',  u'BldgClass',
        u'BldgDepth',  u'BldgFront',    u'ComArea', u'FactryArea',
       u'GarageArea',   u'NumBldgs',  u'NumFloors', u'OfficeArea',
        u'OtherArea',  u'StrgeArea',  u'StrgeArea',  u'YearBuilt',
         u'geometry',     u'CT2010'],
      dtype='object')

In [122]:
merged = merged[merged['YearBuilt']>0]

In [123]:
merged = merged.drop('geometry',axis=1)

In [124]:
merged.to_csv('../data/ct_bbl.csv')

In [125]:
merged = pd.read_csv('../data/ct_bbl.csv')

In [126]:
merged = merged.drop('Unnamed: 0',axis=1)

In [127]:
merged.head(2)

,BBL,AssessTot,BldgArea,BldgClass,BldgDepth,BldgFront,ComArea,FactryArea,GarageArea,NumBldgs,NumFloors,OfficeArea,OtherArea,StrgeArea,StrgeArea.1,YearBuilt,CT2010
0,5.007470e+09,23400.0,1488,B2,62.0,24.0,0,0,0,1,1.0,0,0,0,0,1960,18901
1,5.007130e+09,22602.0,1316,A1,27.0,17.0,0,0,0,2,2.5,0,0,0,0,1920,18701

In [128]:
merged['BldgAge'] = 2017-merged['YearBuilt']
merged = merged.drop('YearBuilt',axis=1)

In [138]:
avg = pd.DataFrame(merged[['BldgAge','NumFloors','AssessTot','BldgArea','BldgDepth','BldgFront','ComArea',\
                           'FactryArea','GarageArea','NumBldgs',\
       'OfficeArea','OtherArea','StrgeArea']].groupby(merged['CT2010']).mean())

In [139]:
avg = avg.reset_index()

In [140]:
avg.head(2)

,CT2010,BldgAge,NumFloors,AssessTot,BldgArea,BldgDepth,BldgFront,ComArea,FactryArea,GarageArea,NumBldgs,OfficeArea,OtherArea,StrgeArea
0,100,126.363229,4.078475,1.045777e+06,23211.573991,50.908117,36.010314,10799.793722,0.000000,5640.847534,1.233184,3255.802691,1474.094170,64.596413
1,200,65.637972,2.006498,2.328835e+04,2007.178066,42.968656,21.679009,114.395047,27.079009,14.140330,1.176887,1.650943,42.903302,4.317217

In [142]:
avg.to_csv('../data/ct_bbl_avg.csv')